{% include "./layout/header.njk" %}

<body>
    {% include "./layout/nav.njk" %}

    <section id="contact">
        <div class="container mt-5">

            <div class="row text-center">
                <div class="col-md-3">
                    <p class="icContact">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </p>

                    <p class="font-weight-bold pBContact">Завоните нам</p>
                    <p class="pContact">89347873289743897</p>

                </div>
                <div class="col-md-3">
                    <p class="icContact">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </p>

                    <p class="font-weight-bold pBContact">Часы работы</p>
                    <p class="pContact">с 8:00 до 17:00</p>

                </div>
                <div class="col-md-3">
                    <p class="icContact">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </p>

                    <p class="font-weight-bold pBContact">Мы находимся</p>
                    <p class="pContact">АДРЕС</p>

                </div>
                <div class="col-md-3">
                    <p class="icContact">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </p>

                    <p class="font-weight-bold pBContact">Напишите нам</p>
                    <p class="pContact">e-mail</p>

                </div>
            </div>
           
           
            <div class="row mt-5">
               
                <div class="col-md-5">
                        <h1 class="text-center">НАПИШИТЕ НАМ</h1>
                        <hr>
                        <hr>
                    <form style="font-size:1.7rem">
                        <div class="form-group">
                            <label for="">Ваше имя</label>
                            <input type="text" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">Ваш e-mail</label>
                            <input type="email" class="form-control" id="" aria-describedby=""
                                placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Сообщение</label>
                            <textarea class="form-control" id="" rows="3"></textarea>
                        </div>
                        <div  class="form-group text-center">
                                <button style="font-size:1.7rem" type="submit" class="btn btn-outline-primary">ОТПРАВИТЬ</button>
                        </div>
                        
                    </form>
                </div>
                <div class="col-md-7">

                </div>
            </div>

        </div>
    </section>



    {% include "./layout/script.njk" %}
</body>
{% include "./layout/footer.njk" %}