
{% include "./layout/header.njk" %}
<body class="bodyNews">
{% include "./layout/nav.njk" %}





        <!--КОНТЕНТ-->
     <div class=""> 
         
    
        <div class="container mt-3 opacityNews" >
          <h1 class="text-center font-weight-bold pt-5 mb-5">Новости</h1>
        <div class="row justify-content-center  " >
           
            <div class="col-md-11 mb-5 " style="font-size: 1.8rem">   
                <div class="card card-body blockNews">
                    <div class="row">
                        <div class="col-md-3">
                            <img class=" img-fluid" src="https://images.aif.ru/004/711/6fff8bfbde211128602c747242a12e0b.jpg" alt="фото мероприятия">
                        </div>
                        <div class="col-md-9">
                            <h3 class="font-weight-bold" style="font-size: 2rem">Название мероприятия или события</h3>
                            <small style="color:gray"><i class="fa fa-calendar" aria-hidden="true"></i> Дата</small>
                            <hr  class="font-weight-bold">
                            <hr class="font-weight-bold">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugit.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde nihil est nemo quae ab sunt, magni alias facilis consectetur.
                            </p>
                            <p class="text-right mr-3">
                                <a  href="#">Подробней</a>    
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 mb-5 " style="font-size: 1.8rem">   
                <div class="card card-body blockNews">
                    <div class="row">
                        <div class="col-md-3">
                            <img class=" img-fluid" src="https://images.aif.ru/004/711/6fff8bfbde211128602c747242a12e0b.jpg" alt="фото мероприятия">
                        </div>
                        <div class="col-md-9">
                            <h3 class="font-weight-bold" style="font-size: 2rem">Название мероприятия или события</h3>
                            <small style="color:gray"><i class="fa fa-calendar" aria-hidden="true"></i> Дата</small>
                            <hr  class="font-weight-bold">
                            <hr class="font-weight-bold">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugit.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde nihil est nemo quae ab sunt, magni alias facilis consectetur.
                            </p>
                            <p class="text-right mr-3">
                                <a  href="#">Подробней</a>    
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 mb-5 " style="font-size: 1.8rem">   
                <div class="card card-body blockNews">
                    <div class="row">
                        <div class="col-md-3">
                            <img class=" img-fluid" src="https://images.aif.ru/004/711/6fff8bfbde211128602c747242a12e0b.jpg" alt="фото мероприятия">
                        </div>
                        <div class="col-md-9">
                            <h3 class="font-weight-bold" style="font-size: 2rem">Название мероприятия или события</h3>
                            <small style="color:gray"><i class="fa fa-calendar" aria-hidden="true"></i> Дата</small>
                            <hr  class="font-weight-bold">
                            <hr class="font-weight-bold">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugit.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde nihil est nemo quae ab sunt, magni alias facilis consectetur.
                            </p>
                            <p class="text-right mr-3">
                                <a  href="#">Подробней</a>    
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
     
            

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

        </div>

        

    </div>
     </div>

  
  
   <!--контент-->
   



{% include "./layout/script.njk" %}

</body>
{% include "./layout/footer.njk" %}
