{% include "./layout/header.njk" %}

<body>
    {% include "./layout/nav.njk" %}

    {% include "./layout/script.njk" %}

    <section id="detail" class="pt-3 pb-3">
        <div class="container ">
                
            <div class="row card card-body ">
                   
                <div class="col-md-12">
                    <img class=" img-fluid" src="/{{news.linkPicture}}" alt="фото новости">

                </div>
                <div class="col-md-12">
                    <h1  class="text-center slogan">{{news.title}}</h1>
                    {% if date==dateStart %}
                        <p style="color:gray"><i class="fa fa-calendar" aria-hidden="true"></i> {{date}} </p>
                    {% else %}
                        <p style="color:gray"><i class="fa fa-calendar" aria-hidden="true"></i> {{date}} </p>
                        <label>Дата начала:</label>
                        <p style="color:gray; display:inline-block"><i class="fa fa-calendar" aria-hidden="true"></i> {{dateStart}} </p>
                    {% endif %}
                    <hr>
                    
                    <p style="font-size: 17px; white-space: pre-line">
                        {{news.text}}
                    </p>
                </div>
            </div>



            
        </div>
    </section>

    <script>
        $(".active").removeClass('active')
        document.getElementById('LiNews').setAttribute("class", "active")
    </script>
</body>
{% include "./layout/footer.njk" %}