{% include "./layout/header.njk" %}

<body>
    {% include "./layout/nav.njk" %}

    <section id="aboutTecher">

        <h2 class="portfolio-header"> НАШИ ПРЕПОДАВАТЕЛИ</h2>
        <div class="container">
            <div class="row mt-3 ">

                <div class="col-md-4">
                    <img src="./img/uploads/teacher1.png" alt="">
                </div>
                <div class="col-md-6">
                    <p style="font-size:1.7rem">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint deleniti aut non tenetur illum
                        quasi alias earum expedita minus nulla? Praesentium explicabo totam molestias quisquam
                        doloremque obcaecati illum et veritatis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quam recusandae hic ipsa, culpa
                        similique veritatis iste illo quasi quos explicabo expedita molestias praesentium alias ea
                        laborum, mollitia minima quod!
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium consectetur quam
                        perferendis praesentium tempore magnam commodi. Rem accusamus ducimus aliquam eum, deleniti
                        ratione itaque ea cum deserunt. Quisquam, atque commodi.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, doloremque eum eius sunt,
                        dolorem provident nihil neque rem soluta fuga possimus ratione illo minima mollitia commodi
                        quia temporibus nesciunt voluptate.
                    </p>
                </div>

            </div>
        </div>
    </section>

    {% include "./layout/script.njk" %}
</body>
{% include "./layout/footer.njk" %}