{% include "./layout/header.njk" %}

<body>
    {% include "./layout/nav.njk" %}

    <section id="aboutTeacher">

        <h2 class="portfolio-header mt-4"> НАШИ ПРЕПОДАВАТЕЛИ</h2>
        <div class="container mt-5">
            {% for i in teachers  %} 
            <div class="row shadow-lg p-3 mb-5 bg-white rounded">
               
                <div class="col-md-4 mt-3">
                    <img src="{{i.linkPicture}}" alt="">
                </div>
                <div class="col-md-8 mt-3">
                        <p style="font-size:2rem"> 
                                {{i.name}}
                            </p> 
                    <p style="font-size:1.7rem">
                        {{i.description}}
                    </p>
                </div>

            </div>
            {% endfor %}


        </div>
    </section>

    {% include "./layout/script.njk" %}
    <script>
            $(".active").removeClass('active')
             document.getElementById('liTeacher').setAttribute("class", "active")
    </script>
</body>
{% include "./layout/footer.njk" %}