{% include "../layout/header.njk" %}
<body >
    <section style=" min-height: 80vh;">

   
    <div class="container-fluid " style="font-size:1.5rem;">
        <div class="row">
                {% include "./adminLayout/adminHeader.njk" %}
        </div>
        <div class="row mt-4">
            <div class="col-md-2 ">
                {% include "./adminLayout/sidebar.njk" %}
            </div>
            <div class="col-md-10">
                    
                <div class="card card-body">
                       <div class="row">
                            
                            <button class="btn btn-outline-info ml-4 mb-3"> <i class="fa fa-plus fa-lg fa-fw" aria-hidden="true" data-toggle="modal" data-target="#addCourses"></i> </button>
                       </div>
                       <div class="row mx-1 ">
                            <table id="tableAdminCourses" class="table table-bordered ">
                                    <thead class="thead text-center align-content-center">
                                      <tr>
                                       
                                        <th scope="col">Название курса</th>
                                        <th scope="col">Описание</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Преподаватель</th>
                                        <th scope="col">Уровень</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(0,courses.length)  %}
                                      <tr>
                                      
                                        <td>{{courses[i].title}}</td>
                                         <td>{{courses[i].text}}</td>
                                          <td>{{date[i]}}</td>
                                        <td>{{teacher[i].name}}</td>
                                        {% if courses[i].forNewbies==true %}
                                          <td>Новички</td>
                                        {% else %}
                                          <td>Продвинутые</td>
                                        {% endif %}
                                        <td>
                                        <form  action="/adminCoursesDelete/" method="get">
                                          <input type="hidden" value="{{courses[i]._id}}" name="idDelete"/>
                                          <input style="font-size:1.7rem" class="btn btn-outline-info" type="submit" value="Удалить" />
                                        </form>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                     
                                    
                                    </tbody>
                                  </table>
                        </div>
                       
                              
                              
                </div>
            </div>
        </div>    
    </div>
</section>
    {% include "../layout/script.njk" %}
    <script>
      $(".active").removeClass('active')
       document.getElementById('aCourses').setAttribute("class", "active list-group-item list-group-item-action")
</script>
</body>


<div style="font-size:1.5rem"  class="modal fade" id="addCourses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="font-size:1.5rem"  class="modal-dialog" role="document">
          <div style="font-size:1.5rem" class="modal-content">
            <div class="modal-header">
              <h4  class="modal-title" id="exampleModalLabel">Добавить курс</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="coursesFormId"  method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Название курса</label>
                  <input type="text" class="form-control" id="" name="courseName">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Описание курса</label>
                  <textarea class="form-control" id="" name="courseDescription"></textarea>
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Дата начала</label>
                  <input type="date" class="form-control" id="" name="dateStart">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Цена</label>
                  <input type="text" class="form-control" id="" name="price">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Длительность</label>
                  <input type="text" class="form-control" id="" name="duration">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Преподаватель</label>
                  <select name="teacher" id="">
                  {% for t in teachers %}
                    <option value="{{t._id}}">{{t.name}}</option>
                    {% endfor %}
                  </select>  
                </div>
                 <div class="form-group">
                  <label for="message-text" class="col-form-label">Уровень</label>
                  <select name="level" id="">
                    <option value="1">Новички</option>
                    <option value="0">Продвинутые</option>
                  </select>  
                  
                </div>
                <div  class="form-group">
                      
                        <input name="image" type="file">
                </div>
                <button id="subHidden" type="submit" class="d-none" ></button>
              </form>
            </div>
            <div  class="modal-footer">
              <button style="font-size:1.5rem" type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              <button  style="font-size:1.5rem" type="button"  onclick="sendSubCourses()" class="btn btn-primary">Добавить</button>
            </div>
          </div>
        </div>
      </div>