{% include "../layout/header.njk" %}
<body >
    <section style=" min-height: 80vh;">

   
    <div class="container-fluid " style="font-size:1.5rem;">
        <div class="row">
                {% include "./adminLayout/adminHeader.njk" %}
        </div>
        <div class="row mt-4">
            <div class="col-md-2 ">
                {% include "./adminLayout/sidebar.njk" %}
            </div>
            <div class="col-md-10">
                    
                <div class="card card-body">
                       <div class="row ">
                            
                            <button class="btn btn-outline-info ml-4 mb-3"> <i class="fa fa-plus fa-lg fa-fw" aria-hidden="true" data-toggle="modal" data-target="#addCourses"></i> </button>
                       </div>
                       <div class="row mx-1 ">
                            <table class="table table-bordered ">
                                    <thead class="thead-dark  text-center align-content-center">
                                      <tr>
                                       
                                        <th scope="col">Название курса</th>
                                        <th scope="col">Описание</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Преподаватель</th>
                                        <th scope="col">Уровень</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                      
                                        <td>Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eaque.    </td>
                                         <td>Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eaque.    </td>
                                          <td>Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eaque.    </td>
                                        <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                                            Minus enim placeat explicabo, soluta rerum earum officia. Rerum laborum, 
                                            facilis eligendi perferendis doloremque illum magni eveniet ipsam sint quasi exercitationem vel 
                                            cupiditate nobis quia vitae recusandae laudantium quam earum. Esse eaque omnis optio numquam ipsum natus 
                                            odit, laboriosam aliquam placeat aspernatur.</td>
                                        <td>какая нить дата</td>
                                      </tr>
                                      <tr>
                                          
                                            <td>Lorem, ipsum dolor.</td>

                                            <td>Lorem, ipsum dolor.</td>

                                            <td>Lorem, ipsum dolor.</td>
                                            <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                                 Minus enim placeat explicabo, soluta rerum earum officia. 
                                                 Rerum laborum, facilis eligendi perferendis doloremque illum magni eveniet ipsam sint quasi 
                                                 exercitationem vel cupiditate nobis quia vitae recusandae laudantium quam earum. Esse eaque omnis
                                                  optio numquam ipsum natus odit, laboriosam aliquam placeat aspernatur.</td>
                                            <td>какая нить дата</td>
                                          </tr>
                                    
                                    </tbody>
                                  </table>
                        </div>
                       
                              
                              
                </div>
            </div>
        </div>    
    </div>
</section>
    {% include "../layout/script.njk" %}

</body>


<div style="font-size:1.5rem"  class="modal fade" id="addCourses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div style="font-size:1.5rem"  class="modal-dialog" role="document">
          <div style="font-size:1.5rem" class="modal-content">
            <div class="modal-header">
              <h4  class="modal-title" id="exampleModalLabel">Добавить новость</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Название новости</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Текст новости</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
                <div class="form-group">
                      
                        <input type="file">
                      </div>
              </form>
            </div>
            <div  class="modal-footer">
              <button style="font-size:1.5rem" type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              <button  style="font-size:1.5rem" type="button" class="btn btn-primary">Добавить</button>
            </div>
          </div>
        </div>
      </div>