<footer>
    <div class="row text-center mb-2">
       
        <div class="col-md-12 mt-2" style="font-size:2.5rem">
               <a class="socLink" href="">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
               </a>
               
               <a  class="socLink" href="">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
               </a>
        </div>
    </div>
        <div class="row text-center">
        <div class=" slogan col-md-12">
                <p style="font-size:2.5rem" >Центр массажа "СФЕРА" © 2019</p>
        </div>
    </div>
</footer>


