<!DOCTYPE html>
<html lang="rus">

<head>
    <meta charset="UTF-8">
    <title> Школа массажа "Сфера"</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jura:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="СФЕРА ШКОЛА СОВРЕМЕНОГО МАССАЖА"> 
    <meta name="Keywords" content="Массаж, учебный центр, школа массажа, Мариуполь, курсы массажа, классический массаж, универсальный массаж, антицеллюлитный массаж, тайский массаж">
    

<meta name="yandex-verification" content="a014820d1e0465cb" />
<meta name="google-site-verification" content="KkNprGvOmAXBGcMLtFN9rEfC3jFF1oJVClVaheW_UqE" />
</head>