
    <div class="container-fluid " style="background-color:#21315A;">


        <div class="  row">

            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#21315A;font-size:20px">

                    <a class="navbar-brand active" href="/"><img class="logoImg img-thumbnail" src="/img/logo_final_png.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                        aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar1">
                        <ul class="navbar-nav mr-auto">
                            <li id="LiNews" class="nav-item " >
                                <a class="nav-link" href="/news/story">Новости <span class="sr-only">(current)</span></a>
                            </li>
                            

                            <li id="liDropdown" class="nav-item dropdown" >
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Обучение</a>
                                <div style="background-color:#21315A " id="divDropdown-menu" class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a  class="dropdown-item" href="/courses/new">Для начинающих</a>
                                    <div class="dropdown-divider"></div>
                                    <a  class="dropdown-item" href="/courses/old">Для продвинутых</a>


                                </div>
                            </li>
                            <li id="liRapis" class="nav-item" >
                                <a class="nav-link" href="/schedule">Расписание</a>
                            </li>


                            <li  id="liTeacher" class="nav-item" >
                                <a  class="nav-link" href="/teachers">Преподаватели</a>
                            </li>
                            <li id="liProd" class="nav-item" >
                                <a class="nav-link" href="/product">Товары</a>
                            </li>
                            <li id="liService" class="nav-item" >
                                <a class="nav-link" href="/service">Услуги</a>
                            </li>
                            <li id="liContact" class="nav-item" >
                                <a class="nav-link" href="/contact">Контакты </a>
                            </li>

                        </ul>


                        <span class="mr-5" style="color:#fff"> <a href="/a" style="color:#fff; text-decoration: none;" >ШСМ СФЕРА</a>  </span>
                        <a class="socLink" href="">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                      
                        <a class="socLink" href="">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>

                    </div>
                </nav>


            </div>
        </div>




    </div>
