



    <div class="container-fluid " style="background-color:#474389;">


        <div class="  row">

            <div class="col-md-12">

                <nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#474389;font-size:20px">

                    <a class="navbar-brand" href="/"><img class="logoImg" src="./img/log_png_test.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"
                        aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar1">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/news">Новости <span class="sr-only">(current)</span></a>
                            </li>
                            

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Обучение</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item" href="/coursesNew">Для начинающих</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/coursesOld">Для продвинутых</a>


                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Расписание</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#">Преподаватели</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакты </a>
                            </li>




                        </ul>


                        <span class="mr-5" style="color:#fff"> ШСМ СФЕРА </span>
                        <a class="socLink" href="">
                            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                        </a>
                        <a class="socLink" href="">
                            <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
                        </a>
                        <a class="socLink" href="">
                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                        </a>

                    </div>
                </nav>


            </div>
        </div>




    </div>
