

  <div class="list-group">
        <button id="aNews" type="button" class="list-group-item list-group-item-action active" onclick="document.location.href ='/adminNews'">
                Новости
        </button>
        <button id="aCourses" type="button" class="list-group-item list-group-item-action" onclick="document.location.href ='/adminCourses'" >Курсы</button>
        <button  id="aTeacher" type="button" class="list-group-item list-group-item-action" onclick="document.location.href ='/adminTeacher'">Преподаватели</button>
        <button  id="aContact" type="button" class="list-group-item list-group-item-action" onclick="document.location.href ='/adminContact'">Контакты</button>
        <button  type="button" class="list-group-item list-group-item-action" onclick="exitAdm()">Выход</button>
        
      </div>